
target/
dbt_packages/
logs/
macros/
snapshots/
seeds/

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Data
data/gold_card_transactions.parquet

# Model files
*.pkl
*.joblib

# Environment variables
.env

#text files
card fraud detection.txt
